@{
    ViewBag.Title = "OOP Fundamentals";
}
<h2>@ViewBag.Title.</h2>


<h3>@ViewBag.Message</h3>

<hr />

<div class="row">
    @Html.ActionLink("Square", "Square", null, new { @class = "btn btn-default col-xs-3 well", style = "color:black; font-size:xx-large" })
</div>
<div class="row">
    @Html.ActionLink("Circle", "Circle", null, new { @class = "btn btn-default col-xs-3 well", style = "color:black; font-size:xx-large" })
</div>
<div class="row">
    @Html.ActionLink("Triangle", "Triangle", null, new { @class = "btn btn-default col-xs-3 well", style = "color:black; font-size:xx-large" })
</div>






